# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# ML
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep

models/*
!models/.gitkeep

reports/figures/*
!reports/figures/.gitkeep

# Cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
